<h3>Demande D'accompte</h3>

Bonjour <b>{{ user }}</b>! <br/><br/>

Nous vous informons que votre demande d'accompte pour <b>{{ personnel }}</b> a bien été prise en compte.<br/>

Le récaptitulatif de la demande est disponible dans votre application. <br/><br/>


Nous serez informé par mail une fois votre demande traitée.<br/><br/>

Cordialement
