<h3>{{ demande }}</h3>

Bonjour <b>{{ user }}</b>! <br/><br/>

Vous avez une nouvelle {{ demande }} à traiter.<br/><br/>

Pour y accéder directement veuillez cliquer ici:<br/><br/>

{{ url }}<br/><br/>

Cordialement
