<h3>Demande {{ demande }}</h3>

Bonjour <b>{{ user }}</b>! <br/><br/>

Vous serez informé par mail une fois votre demande {{ demande }} traitée.<br/>

Le récaptitulatif de la demande est disponible dans votre application. <br/><br/>

{{ url }}<br/><br/>

Vous serez informé par mail une fois votre demande traitée.<br/><br/>

Cordialement
