{% extends 'base.html.twig' %}
{% block title %}Welcome{% endblock %}

{% block body %}

<div class="header">
    <img style="display: block !important;margin: auto !important;" id="logotop" src="{{ asset('img/provost.png') }}">
</div>
<div class="head" >
    {{ "home_rh.header"|trans({}, "home_rh") }}
</div>
<div class="bg"></div>
<div class="container">

    <div class="row"  style="padding-top:65px; max-width:875px; margin:auto;">

      {{ form(form) }}

    </div>
</div>

<script>
var $situ = $('#demande_embauche_nationalite');

$situ.change(function() {
  // ... retrieve the corresponding form.
  var $form = $(this).closest('form');
  // Simulate form data, but only include the selected sport value.
  var data = {};
  data['demande_embauche_nationalite'] = $situ.val();
  // Submit data via AJAX to the form's action path.
  $.ajax({
    url : $form.attr('action'),
    type: $form.attr('method'),
    data : data,
    success: function(html) {
      console.log(html)
      // Replace current position field ...
      $('#demande_embauche_nationalite').append($(html).find('#demande_embauche_address1'));
      // Position field now displays the appropriate positions.
    }
  });
});
</script>


{% endblock %}
