
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top {
margin-top: 100px;
}

/* For Firefox */
input[type='number'] {
-moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

/*STYLE GENERAL*/

body,p,a,h1,h2,h3,h4,h5 {
	font-family: 'Brown';

}
.modal-open {
     overflow: inherit !important;
		 padding:0 !important;
}
@font-face {
	font-family: 'Brown';
	src: url('../fonts/Brown-Light.otf');
	font-weight: regular;
}
/* MODAL */
#myModal {
    align-items: center;
    justify-content: center;
}
/* HEADER */
.header{
	z-index:3;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: white;
	height: 65px;
	/*padding-top: 15px;*/
}

.header hr{
	width: 250px;
	margin: auto;
	z-index: 10;
	position: relative;
}
#topNav{
		position: fixed;
    top: 20px;
		z-index: 4;
}
#topNav a{
	color: #333;
	font-weight: light;
}
#logout a:nth-child(1){
  margin-right: 15px;
}
.posLogoHome{

	padding-top:4px;

}
.deco {
	color: black;
	font-size: 15px;
	cursor: pointer;
}

#logout a:hover{
    color: red;

}
img#logotop{
	width: 250px;

}

.head {
	width: 450px;
	background-color: #B39C8C;
	margin: auto;
	display: block;
	text-align: center;
	font-size: 17px;
	z-index: 58;
	margin-top: 65px;
	color: white;
	height: 45px;
	padding-top: 6px;
	line-height: 28px;
}

.nomSalon{
	background-color: #fff;
	width: 450px;
	height: 35px;
	color: #333;
	margin: auto;
	text-align: center;
  line-height: 30px;
}

.header.admin{
	background-color: #333 !important;
}
.admin #home a, .admin #logout a{

	color: white;
}
/* FIN HEADER */

.btn-black{
	background-color: #b39b8b !important;
	/*max-width: 150px;*/
	text-align: center !important;
	vertical-align: middle;
	line-height: 35px;
	font-size: 16px;
	width: 150px;
	font-family: 'Brown' !important;
	float: right;
	color: white;
	font-weight: lighter;
	border: none;
}

/*STYLE LOGIN*/
#Nova{
    padding-top:50px;
    color: black;
    float:right
}
#Nova a{
    color: black;
}

/*CONTENT */
#actions{
	display: table;
	position: relative;
	height: auto;
	margin: auto;
	clear: both;
  padding-top: 30px;
}
#actions .col-sm-12{
	padding: 0;
}
/*#actions .col-sm-4{
	padding-left: 0 !important;
}*/
#actions .col-sm-6{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.menuAction{
	width: 450px;
}
.menuActionBig{
	width: 700px;
}
.slider.slider-horizontal {
    margin-top: 20px;
}
.on {

	opacity: 1;
}
.off.home {
	opacity: 0.2;

}
.blockAction{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	clear: both;
	z-index: 10;

}
/* STYLE TABLEAU */
thead, tfoot{
	background-color: #333;
}
thead tr th, tfoot tr th{
	color: #eee;
	font-weight: 100 !important;
}
table.dataTable thead th, table.dataTable thead td ,table.dataTable tfoot th, table.dataTable tfoot td {
	border-right: none;
	border-left: none;
}
/*STYLE FORMULAIRES*/
.alert{
	clear: both;
   position: relative;
}

.closeAlert{
	font-size: 11px;
	height: 20px;
	color: #333;
	width: 20px;
	position: absolute;
	right: 0px;
	top: 7px;
	cursor: pointer;
}
.allForm{
	margin-top: 30px;

}

.form-control-feedback {
    top: 5px !important;
    right: 25px !important;

}
.form-control[disabled], fieldset[disabled] .form-control {
    cursor: initial;
		    -webkit-appearance: none;
}
/*.label-file {
	cursor: pointer;
	    color: #333;
	    height: 40px;
	    width: 200px;
	    text-align: center;
	    margin-left: 15px;
	    font-weight: bold;
	    background: white;
	    padding: 0.9rem 1.25rem;
}*/
.label-file {
	cursor: pointer;
	color: #333;
	height: 40px;
	width: 200px;
	text-align: center;
	margin-left: 15px;
	font-weight: bold;
	background: white;
	padding: 0.9rem 1.25rem;
	position: absolute;
	right: 0;
	max-width: inherit;
}
#form_message .label-file,#formAutreDemande .label-file{
	position: relative;
	right: inherit;
}
.label-file:hover {
    color: #b39b8b;
}

.input-file {
    display: none !important;
}
.glyphicon-ok{
	color:green ;
}
.glyphicon-remove{
	color: red;
}
.help-block {
	position: relative;
	color: red !important;
	display: block;
}
#fos_user_registration_form_enabled .help-block{

	position: absolute;
	left: 18px;
	top: 44px;
  color: red !important;
}
#chgPwd{
	position: absolute;
	color: white;
	display: block;
	margin-left: 15px;
	height: 45px;
	background-color: #333;
	padding-left: 15px;
	line-height: 43px;
	width: 190px;
	right: 15px;
}
.containerModal{
	margin: 0;
	background-color: #f7f7f7;
}

.containerModal #actions{
	margin: auto;
}
#demande_embauche_dateNaissance select, #demande_embauche_dateembauche select{
	height: 35px;
	text-align: center;
	padding-left: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-bottom: 1px solid #333;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 4px;
}

 form#changePassword{
	 margin-top: 15px;
	 width: 450px;
	 position: relative;
	 margin-bottom: 10px;

 }

#changePassword .form-group .label{
	width: 100% !important;
}
#changePassword .form-group{
	height: 115px !important;
}

.flashConfirmation {
    text-align: center;
    font-size: 15px;
		color:#45bd43;
}
.flashConfirmation .glyphicon {
		display: block;
    font-size: 25px;
    margin: auto;
    margin-top: 10px;
		}
.modal-footer {
     border-top: none;
}
.modal-footer .closeAlert {
    right: 7px !important;
	}
.allForm .form-group{
margin-bottom: 15px;
height: 65px;
}
#fos_user_change_password_form_Changer{
	width: 70%;
	float: none;
	margin: auto;
	display: block;
}
#wrapperForm{
	width: 875px;
	margin: auto;
  margin-bottom: 50px;
}
#wrapperFormEmbauche2{
	width: 920px;
	margin: auto;
  margin-bottom: 50px;
}
#formContent{
    max-width: 700px;
    margin: auto;
}

.form-group{
	margin-left: 0 !important;
	margin-right: 0 !important;
	position: relative;
	display: block;
	height: auto;
}
form.demandeDetail{
	margin-top: 20px !important;
}
form.demandeDetail .form-group{
	height: 45px !important;
}
.form-group .label{
	    background-color: #333;
	    text-align: left !important;
	    vertical-align: middle;
	    line-height: 30px;
	    font-size: 16px;
	    color: white;
	    width: 175px;
	    font-weight: 100 !important;
			padding-top: 5px;
	    padding-left: 6px;
		}
.error_list{

}
.form-control {
	/*border-radius: 0 !important;*/
	border: 1px solid #000;
	border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
	webkit-box-shadow: none !important;
  box-shadow: none !important;
	/*width: inherit;*/
    height: 45px;
}
#detailDemandeAccompte select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

label.required{
	color: white;
	font-size: 15px;
	font-weight: lighter;
	line-height: 30px;
}
.end{
   background-color: #45bd43 !important;
}
#form1 .end {
    position: absolute;
    right: 100px;
}
.end:hover{
   background-color: #fff !important;
	 color: #45bd43;
	 text-decoration: none;
}
/******* LISTE DES DEMANDES ******/
table.dataTable tbody td {
    padding: 10px 10px !important;
    border: none !important;
    vertical-align: middle;
}

table.dataTable tbody tr.selected {
    background-color:#22333B !important;
}
table.dataTable tbody tr.selected td {
    color: white !important;
}
table.dataTable tbody tr.selected td.details-control {
    border-left: solid 5px #04773B  !important;
}
#selectionMultiple{
	width: 100%;
	height: 50px;
	margin-top: 15px;
	margin-bottom: 10px;
}
#selectionMultiple #wrap  {
  display: none;
	background-color: white;
	border-left: solid 10px #22333B !important;
	border-right: solid 10px #22333B !important;
	width: 100%;
	height: 100%;
}
#nbSelect{
	float: left;
	height: 100%;
	font-size: 17px;
	line-height: 45px;

}

#nbSelect .counter{
	float: left;
  height: 100%;

	}
#nbSelect .textSelect{
    margin-left: 5px;
	}
#act{
	float: right;
	text-align: right;
}
#act ul{
    margin-top: 10px;
}
#act ul li{
	display: inline-block;
	width: auto;
	text-align: center;
	border: solid 1px #d5d7d9;
	line-height: 29px;
	background-color: #ecf0f1;
	margin-right: 5px;
	padding-right: 10px;
	padding-left: 10px;
}
#act ul li:hover{
	border: solid 1px white;
	background-color: #333;
	color: white !important;
	cursor: pointer;
}
li#validation .glyphicon-ok {
    color: inherit;
}

tr{
	cursor: pointer;
}
tr.selected{
	background-color: black;
}

#demande{
	margin-top: 20px;
}
.statutLabel{
	width: 70px;
	border-radius: 5%;
	display: block;
	margin: auto;
	padding: 6px;
	color: #fff;
	font-size: 12px;
}
.En_cours{
	background-color:#2980b9;
}
.Rejeté{
	background-color:#c0392b;
}
.Traité{
	background-color:#27ae60;
}
.A_validé{
	background-color:#d35400;
}
.A_signé{
	background-color:#8e44ad;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #efeeee !important;
}
table.dataTable thead th, table.dataTable thead td {
    vertical-align: middle;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
    vertical-align: middle;

}
/******* FORMULAIRE EMBAUCHE ******/
#infoEmbauche{
	max-width: 875px;
	margin :auto;

}
#demande_embauche_codePostal {
	width: 125px;
}
#demande_embauche_dateNaissance, #demande_embauche_dateembauche{
	width: 205px;
}

#demande_embauche_nom, #demande_embauche_numSecu, #demande_embauche_situationFamille,
#demande_embauche_telephone, #demande_embauche_villeNaissance{
	width: 180px;
}
#demande_embauche_prenom, #demande_embauche_ville, #demande_embauche_email, #demande_embauche_autre2{
	width: 100%;

}
#demande_embauche_addresse1, #demande_embauche_addresse2{
	width: 583px;

}
#demande_embauche_nbEnfant{
	width: 130px;

}
#demande_embauche_sexe label.required, #demande_embauche_nationalite label.required, #demande_embauche_dejaSalarie label.required
,#demande_embauche_postes label.required, #demande_embauche_diplomes label.required,
#demande_embauche_salaireBase label.required, #demande_embauche_typeContrat label.required,
#demande_embauche_CDD label.required, #fos_user_registration_form_enabled label.required{
  color: black;
  margin-left: 2px;
	margin-right: 10px;
}

#demande_embauche_nationalite_1{
	margin-left: 10px;


}

#demandeEmbauche2 .form-group{
	height: auto;
}
#demandeEmbauche2 div.col-sm-3,#demandeEmbauche2 div.col-sm-8, #demandeEmbauche2 div.col-sm-4{
    margin-left: 15px;
	}

#demandeEmbauche3 label{
	width: 215px;

}
#Classification, #tempsPartiel{
	 height: 85px;
}
#Classification div{
	width: 110px;
	text-align: center;
	margin-right: 15px;
}
#Classification div label{
	background-color: #797979 !important;
}
#Classification div select,#Classification div input, div.other input{
	width: 100%;
}
.jour{
    float: left;
    width: 50px;
		margin-left: 20px;
	}
	.jour label{
		display: block;
    text-align: center !important;
    background-color: #797979 !important;
    line-height: inherit;
	}
	#listeJours{
		padding: 0;
	}

	/***** RESPONSIVE DESIGN **********/
@media only screen and (max-width : 765px){
		.label {
		    width: 100% !important;
				text-align: center !important;
		}
		#demande_embauche_nom,#demande_embauche_prenom, #demande_embauche_ville, #demande_embauche_email,
		#demande_embauche_numSecu, #demande_embauche_situationFamille,#demande_embauche_telephone,
		#demande_embauche_villeNaissance, #demande_embauche_addresse1, #demande_embauche_addresse2,
		#demande_embauche_nbEnfant, #demande_embauche_nationalite,
		#demande_embauche_codePostal, #demande_embauche_dateNaissance{
			width: 100%;

		}
		#demande_embauche_dateNaissance {
    height: 60px;
}
		#wrapperForm,#wrapperFormEmbauche2,	.formActionUpload{
		    /*width: 414px;*/
		    width: auto !important;
		    margin: auto;
		}


		.form-control{
			 margin-bottom: 20px;
		}
		#chgPwd {
			position: relative;
	    color: white;
	    display: block;
	    height: 45px;
	    margin-bottom: 18px;
	    background-color: #333;
	    padding-left: 15px;
	    line-height: 43px;
	    width: 100%;
	    text-align: center;
}
.label-file {
	width: 90% !important;
	position: relative;
	right: inherit;
}

		form#formAccompte	, form#createAccount, form#createAccountS2,
		form#createAccountS3, form#editAccount,form#createAccountService{
			width: 100% !important;

		}
		.createAccount .form-group {
    height: 100px !important;
}
.allForm .form-group{
	  height: 110px;
}
.embaucheForm .form-group{
		height: auto !important;
}
#form1 .end {
   position: relative;
   right: inherit;
}
		#form_Suivant, #fos_user_registration_form_Valider, .precedent, .end {
			float: inherit !important;
	    width: 90%;
	    display: block;
	    margin: auto;
			height: 45px;
			margin-bottom: 10px !important;
		}
		#actionsButtons .precedent {
    margin-left: auto !important;
		position: relative;
}
.AccountInfo {
	width: 100%;

}
		#fil {

		    display: none;
		}
	 .head{
		 width: inherit;
	 }
		.carre {
			margin-bottom: 25px;

		}
		.menuAction,.formAction {
	    width: 90% !important;
	}
		.logo-prov {
			max-width:100%;
		}
		.login-form {
	   		width: 75%;
	   		margin: auto;
		}
		.deco a span.libelle{
			display: none;
		}
		#logout {
		text-align: right;
		}
		#home {
		text-align: left;
		}
}
/***** CREATION COMPTE USER ADMIN FORMULARE ********/
#form_Suivant, #fos_user_registration_form_Valider{
	position: relative;
	margin-bottom: 50px;
	/*margin-top: 20px;*/
	float: right;
	/*clear: both;*/
}
h3.titlePage{
	text-align: center;
}
.SubtitleAdmin{
padding-left: 25px;

}
.formAction{
	width: 700px;

}
.formActionUpload{
	width: 520px;

}
#form_Precedent{
	position: absolute;
	left: 0;
	margin-bottom: 50px;

}

#fil{
	position: relative;
	width: 650px;
	height: 55px;
	margin-top: 25px;
	margin: auto;
}

#base{
	position: relative;
	width: 80%;
	height: 5px;
	display: block;
	margin: auto;
	background-color: #888;

}

.step{
	position: absolute;
	width: 10px;
	height: 10px;
	background-color:#888;
	top: -3px;
	border-radius: 50%;

}
.step.active{
	background-color: #B39C8C;
	width: 20px;
	height: 20px;
	top: -7px;
}

.labelFil{
	color: #333;
	position: absolute;
	top: 15px;
	text-align: center;
	width: 70px;
	/*opacity: 0.2;*/
	line-height: 14px;
	font-weight: lighter;

}

.labelFil.active {
	color: black;
	/*opacity: 1;*/
	font-weight: bold;
}
#labelOne{
 text-align: left;
}
#labelThree{
 text-align: right;
}
#stepOne, #labelOne{
	left: -1%;
}
#stepTwo {
	left: 50%;
}
#stepThree, #labelThree{
	right: -1%;
}

#labelTwo{
 left: 45%;
}

.AccountInfo{
	width: 70%;
	text-align: center;
	margin: auto;
  margin-bottom: 30px;
}
 h2{
	clear: both;
}
form#formAccompte	, form#createAccount, form#createAccountS2, form#createAccountS3, form#editAccount,form#createAccountService{
	/*margin-top: 25px;*/
	/*width: 650px;*/
	position: relative;

}
#CreateFormStep{
    margin-top: 30px;
}

#CreateFormStep #form_nom{
	width:100%;
}
#createAccountS3 select{
		width:100%;
}
#ListePersonnel a{
	color:black;
}
span.state{
	position: relative;
	display: block;
	margin: auto;
	width: 10px;
	height: 10px;
}
span.actif{
background-color: green;

}
span.inactif{
	background-color: red;
}


 /***** DEMANDE ******/
 #flashDemande{
	 width: 350px;
   margin: auto;
   text-align: center;
 }
 #form_message {


 }

 #form_message textarea{
	 border-color: grey;
	 background-color: #eee;
	 width: 100% !important;
	 height: 80px !important;
	 margin-bottom: 15px;
 }
 #infosDemande{
	 background-color: #eeeeee;
	 padding: 25px;
	 margin-bottom: 20px;
 }
 .accept{

 }

 .reject{
	 background-color: #c5443b !important;

 }
 #separatorDetailDemande{
	 display: block;
	 width: 100%;
	 border-color: #333;

 }
/***** DEMANDE ACCOMPTE FORMULARE ********/

/*.demande_acompte .form-group,
 #createAccountService  .form-group, .createAccount .form-group {
    margin-bottom: 15px;
    height: 65px;
}*/
.demande_acompte .form-group .slider-handle {
    background-color: #B39C8C;
		background-image : none;
}
.demande_acompte .form-group .slider-track-high {
    background-color: black;

}

.demande_acompte .form-group .slider.slider-horizontal {
    width: 100%;
    height: 20px;
}

#actionsButtons{
	display: block;
	margin-top: 20px;
	width: auto;
  position: relative;
}
#actionsButtons .precedent{
  margin-left: 0;

}

.form-group .col-sm-8  .col-xs-12{
	padding-right: 0;

}

/*.col-sm-9, .col-xs-12{
  padding: 0;

}*/
/***** DEMANDE EMBAUCHE FORMULARE ********/

#formEmbauche, #formEmbaucheStep2{
 max-width: inherit;
}

.precedent{
	float: left;
	}

.precedent:hover{
	float: left;
	text-decoration: none;
	color: white;
	background-color: #333 !important;
	}

.carre{
	height: 80px;
	background-color: #333;
	text-align: center;
	width: 210px;
	margin: auto;
	font-size: 18px;
	border-radius: 5px;
	cursor: pointer;
	display: table-cell;
	vertical-align: middle;
  color: white;
}
.carre:hover{
	background-color: black;

}
.block{
	padding-bottom: 25px;
	text-align:center;
	display: block;
}

.under-block {
	display: inline-block;
}
.right {
	float: right;
}

.gestion {
	/*float: right;*/
    	color: black;
      font-size: 15px;
	    cursor: pointer;
    	position: fixed;
    	top: 44px;
    	right: 73px;
    	z-index: 23;
}


.bg {
  min-height: 100%;
  min-height: 100%;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
#bg_admin{
	background-color: #ececec
}
#bg_app{
	background: url(../img/fond-filigrane.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.logo-prov {
	margin: auto;
	display: block;
	padding-bottom:50px;
	max-width:450px;
}

.lab-log {
	background-color: black;
	color: white;

}

/********* dropdown-menu HOME ********/

#myDropdown{margin:auto;}
#myDropdown .dd-select a{
	font-weight: 100;
	color: black;
	text-align: center;
	width: auto;
	margin: auto;
}
.dd-option-image, .dd-selected-image {
    float: none !important;
	}
#myDropdown.origin .dd-select a{
	width: 165px;
}
#myDropdown .dd-select a label{
	color: black;

}
#myDropdown a:hover{

	color: #b39b8b;
	text-decoration: inherit;
}
#myDropdown .dd-select{
border:none;

}
#myDropdown .dd-select .dd-pointer-down{
    border: solid 5px transparent !important;
    border-top: solid 5px #000 !important;
    margin-top: -3px;
}
#myDropdown .dd-select .dd-pointer-up{
    border: solid 5px transparent !important;
    border-bottom: solid 5px #fff !important;
    margin-top: -8px;
}
.dd-selected {
		height: 35px;
		margin-left: 10px;
    padding: 7px  !important;
}
label{
	font-weight: 100 !important;

}
label.dd-selected-text {
	line-height: 21px !important;
	margin-left: 10px;
	font-weight: 100;
}
.dd-option-image, .dd-selected-image {

    max-width: 90px  !important;
}
label.dd-option-text {
    line-height: 16px !important;
    margin-left: 10px;
		color:black;
}


/* BACK LOG */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    color: black;
    text-align: center;
}

tr:nth-child(even) {
   /* background-color: #B39C8C;*/
}

.click{
	cursor:pointer;
}
.traite{
}
.rejete {

}
.encours{

}

.pad-box {
padding-top: 10px;
}

.upload {
color:black;
}
