{% trans_default_domain 'FOSUserBundle' %}

<h1>Créer un utilisateur </h1>
<div style="color: black;">
            {{ form_start(form) }}

             
                    {{ form_widget(form) }}
     
                    {{ form_end(form) }}  


</div>